<section data-ng-controller="HomeController">
    <div class="text-center">
        <div class="row">
            <img alt="DiscKicker" class="home-resp-banner" data-ng-src="{{bannerimg}}"/>
        </div>
    </div>
    <div class="text-center">

        <div class="row">
            <div class="well col-xs-6 col-xs-offset-3">
                <div ui-route="/signup" ng-class="{active: $uiRoute}">
                    <a class="btn btn-warning btn-block btn-lg" href="/#!/signup">Join DK</a>
                </div>
                &nbsp;or
                <div ui-route="/signin" ng-class="{active: $uiRoute}">
                    <a class="btn btn-warning btn-block btn-lg" href="/#!/signin">Log In</a>
                </div>

            </div>
        </div>
    </div>
    <div>
        <div class="text-center">
            <div class="row">
                <img alt="Welcome to DiscKicker!" class="home-resp-banner" data-ng-src="{{welcome}}"/>
            </div>
        </div>
        <h4>Thank you for visiting DiscKicker Pre-alpha!</h4>
        <h4>DiscKicker intends to be a disc golf social network that helps its members set up
            new golf rounds and other interesting challenges in and around Charlotte, NC.</h4>
        <br />

        <h2 class="text-center"><span>What can I expect from the DiscKicker community?</span></h2>
        <h3><span class="label label-warning">Safety and Etiquette Guidelines</span></h3>
        <p>There is no restriction on joining, so beware of the people behind newer or low reputation accounts.</p>
        <h4><span class="label label-warning">Reputation</span></h4>
        <p> - Your DK profile stats will reflect on your credibility and
            reputation as a DK citizen, just like on ebay for example.  Making a
            positive impact on the cards you join will help your stats to rise,
            which makes you a more appealing citizen when you want to join cards later.</p>
        <h4><span class="label label-warning">Honor System</span></h4>
        <p> - You are bound by your word to provide your own transportation and
            show up on time at the time and place agreed upon.
            If you fail, you will lose votes and your reputation score will suffer.</p>
        <br />

        <h2 class="text-center"><span>What's currently in the app?</span></h2>
        <h4><span class="label label-warning">Round-Card Hosting & Joining System</span></h4>
        <h4>As a host:</h4>
        <ol>
            <li>Use the card creator to create a card based on a specific challenge/location and time.
                If you want to tweak the rules a bit, make sure to include it in the description.
            </li>
            <li>
                Players will send Offers to Join (OTJ) when they are interested in the challenge specified.
            </li>
            <li>
                Consider which players to invite, and send out invitations to join (ITJ) the card.
            </li>
            <li>
                <strong>Card Capacity</strong>
                - You can send out more than 3 invitations, but all excess invitations sent will vanish when the max
                players has been reached.  At this time when the card capacity is full and max players is reached,
                Guests may still OTJ (express interest), but new invitations may not be sent.
            </li>
            <li>
                In the event a player drops or is removed from the card, new invitations may once again be sent to players appearing on the hosts OTJ list for that card.
            </li>
            <li>
                As the round host, you'll be judged by how good of a host you were,
                so it's important to assume the role of chief coordinator for the card
                guests interested in the challenge.  If they have questions related to
                the round that go unanswered, they will probably drop from the card.
            </li>
        </ol>
        <h4>As a guest:</h4>
        <ol>
            <li>Browse cards that others have posted, and when you find a challenge that suits your tastes,
                send the host an offer to join the card with the push of a button.
            </li>
            <li>Once a host invites you, you must accept the invitation to join.
                This ensures that you are still on-board and haven't become doublebooked.
            </li>
            <li>Once you join a card, your stats are subject to change depending on the outcome.
            </li>
        </ol>
        <br />

        <h2 class="text-center"><span>What's next?</span></h2>

        <h4><span class="label label-warning">DK points and ERS</span></h4>
        <p>DiscKicker made to track winners and losers and no-shows of rounds.  This is to be accomplished
            by implementation of an "Effortless Reporting System"- a quick survey that appears
            after rounds are played in order to track the outcomes and adjust player stats accordingly.</p>

        <h4><span class="label label-warning">Rep points, Reports</span></h4>
        <p>Players will be given the ability to rate and report other players</p>

        <h4><span class="label label-warning">DK point wagers</span></h4>
        <p>Players will be given the ability to wager DK points on rounds of golf</p>

        <br />

        <h2 class="text-center"><span>What's later?</span></h2>

        <h4><span class="label label-warning">In-app challenges</span></h4>
        <p>-Easy/Difficult challenge achievements that require 2 or more DK citizen witnesses to count.
            Encourages 3 and 4 man cards.</p>
        <h4><span class="label label-warning">Share box</span></h4>
        <p>-Give hosts the ability to share additional information and content with interested players.
            This can be pictures, links, or formatted text.  It helps broaden the options for club event
            handlers to operate and advertise from within DiscKicker.</p>

        <h4><span class="label label-warning">In-app purchases</span></h4>
        <p>-Support the app and buy exclusive disc golf gear and merchandise right from within DiscKicker! </p>


        <br />


    </div>
    <div class="row">
        <div class="col-sm-4 well">
            <h2>Recent Wager Wins</h2>

            <p>Check out this weeks high stakes wins</p>
        </div>
        <div class="col-sm-4 well">
            <h2>Cards nearby</h2>

            <p>sneak peek of nearby open-invite cards</p>
        </div>
        <div class="col-sm-4 well">
            <h2>Safety and Etiquette</h2>

            <p>link to educational video a-la 80s parent rap</p>
        </div>
    </div>

</section>
