<section class="row" data-ng-controller="AuthenticationController">
	<!--<h3 class="col-md-12 text-center">Sign up using your social accounts</h3>-->
	<!--<div class="col-md-12 text-center">-->
		<!--<a href="/auth/facebook" class="undecorated-link">-->
			<!--<img src="/modules/users/img/buttons/facebook.png">-->
		<!--</a>-->
		<!--<a href="/auth/google" class="undecorated-link">-->
			<!--<img src="/modules/users/img/buttons/google.png">-->
		<!--</a>-->
	<!--</div>-->
	<h3 class="col-md-12 text-center">Create a new DiscKicker account</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="username">DK Name</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
                </div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Create account</button><br /><br /><br />
					Wrong place? &nbsp;<a href="/#!/signin" class="show-signup">Log in</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>