.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
    border-color:#FA787E;
}
.ng-valid.ng-dirty {
    border-color:#78FA89;
}
.navbar-brand {
    background-image: url(../img/brand/favicon48.ico);
    background-repeat: no-repeat;
    background-size: 47px;
    position: relative;
    top: 2px;
    width: 50px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.home-resp-banner{
    max-width: 100%;
    height: auto;
}