<section data-ng-controller="rcCreateCtrl">
    <div class="col-sm-8 col-sm-offset-2">
        <form class="form" data-ng-submit="createRC()" novalidate>
            <fieldset>
                <legend>Create New Round Card</legend>
                <div class="">
                    <!-- MAX PLAYAZ ~~~~ MAX PLAYAZ ~~~~ MAX PLAYAZ ~~~~ MAX PLAYAZ ~~~~ MAX PLAYAZ ~~~~ MAX PLAYAZ ~~~~  -->
                    <div class="row form-group">
                        <h3>
                            <label class="label label-default" for="maxplayers">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Max Players&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><br/>
                            <span class="badge">{{setmaxplayers || 'default: 4 players'}}</span>
                        </h3>
                        <div class="" id="maxplayers">
                            <div class="btn-group ">
                                <label class="btn btn-success" data-ng-model="setmaxplayers" btn-radio="'1 player'">1p</label>
                                <label class="btn btn-success" data-ng-model="setmaxplayers" btn-radio="'2 players'">2p</label>
                                <label class="btn btn-success" data-ng-model="setmaxplayers" btn-radio="'3 players'">3p</label>
                                <label class="btn btn-success" data-ng-model="setmaxplayers" btn-radio="'4 players'">4p</label>
                            </div>
                        </div>
                    </div>
                    <!-- MAX PLAYAZ ~~~~ MAX PLAYAZ ~~~~ MAX PLAYAZ ~~~~ MAX PLAYAZ ~~~~ MAX PLAYAZ ~~~~ MAX PLAYAZ ~~~~  -->
                    <!-- Course-Location|---|Course-Location|---|Course-Location|---|Course-Location|---|Course-Location|---| -->
                    <div class="row form-group">
                        <h3>
                            <label class="label label-default" for="CFS">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Location&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><br/>
                            <span class="badge">{{setlocation.coursefromset || 'choose a course...'}}</span>
                        </h3>
                        <div class="" id="CFS">
                            <!-- <google-map center="map.center" zoom="map.zoom" disableDefaultUI="true" draggable="map.draggable"></google-map>   -->
                            <!-- is-open="status.isFirstOpen"-->
                            <accordion close-others="oneAtATime">
                                <accordion-group>
                                    <accordion-heading>
                                        <div><span class="btn btn-success btn-block">NE Charlotte (85-E)</span></div>
                                    </accordion-heading>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Eastway Park(S)'">              <h5 class="list-group-item-heading">Eastway Park - Short                   </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Eastway Park(L)'">               <h5 class="list-group-item-heading">Eastway Park - Long                    </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Kilborne TPC(S)'">              <h5 class="list-group-item-heading">Kilborne TPC - Short                   </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Kilborne TPC(L)'">               <h5 class="list-group-item-heading">Kilborne TPC - Long                    </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Reedy Creek(S)'">            <h5 class="list-group-item-heading">Reedy Creek - Original            </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Reedy Creek(L)'">               <h5 class="list-group-item-heading">Reedy Creek - Stout               </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Sugaw Creek Park'">                  <h5 class="list-group-item-heading">Sugaw Creek DGC                       </h5></label></div>
                                </accordion-group>
                                <accordion-group>
                                    <accordion-heading>
                                        <div><span class="btn btn-success btn-block">N Charlotte (77N)</span></div>
                                    </accordion-heading>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Hornets Nest(S)'">        <h5 class="list-group-item-heading">Hornets Nest - Short            </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Hornets Nest(L)'">         <h5 class="list-group-item-heading">Hornets Nest - Long                </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Nevin Nightmare(S)'">           <h5 class="list-group-item-heading">Nevin Park DGC - Short                  </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Nevin Nightmare(L)'">            <h5 class="list-group-item-heading">Nevin Park DGC - Long                   </h5></label></div>
                                </accordion-group>
                                <accordion-group is-open="status.open">
                                    <accordion-heading>
                                        <div><span class="btn btn-success btn-block">W Charlotte (77, 85-W)</span></div>
                                    </accordion-heading>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Goat Island DGC'">                 <h5 class="list-group-item-heading">Goat Island DGC                           </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'R.L. Smith DGC'">                 <h5 class="list-group-item-heading">R.L. Smith DGC                           </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Rennaissance Grey'">             <h5 class="list-group-item-heading">Rennaissance - Grey                  </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Rennaissance Gold'">             <h5 class="list-group-item-heading">Rennaissance - Gold                  </h5></label></div>
                                </accordion-group>
                                <accordion-group>
                                    <accordion-heading>
                                        <div><span class="btn btn-success btn-block">S Charlotte (485-S)</span></div>
                                    </accordion-heading>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Elon Eager Beaver'">       <h5 class="list-group-item-heading">Elon - Eager Beaver                  </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Elon Angry Beaver'">       <h5 class="list-group-item-heading">Elon - Angry Beaver                  </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Winget - Ruins'">        <h5 class="list-group-item-heading">Winget - Plantation Ruins                      </h5></label></div>
                                </accordion-group>
                                <accordion-group>
                                    <accordion-heading>
                                        <div><span class="btn btn-success btn-block">SE Charlotte (74-E)</span></div>
                                    </accordion-heading>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Crooked Creek'">           <h5 class="list-group-item-heading">Crooked Creek Crossing                    </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Dry Creek DGC'">                 <h5 class="list-group-item-heading">Dry Creek DGC                                </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Idlewild Scrapyard'">            <h5 class="list-group-item-heading">Idlewild Park - The Scrapyard             </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Squirrel Lake Park'">            <h5 class="list-group-item-heading">Squirrel Lake Park                        </h5></label></div>
                                </accordion-group>
                                <accordion-group>
                                    <accordion-heading>
                                        <div><span class="btn btn-success btn-block">Far North (77-N) - Cornelius</span></div>
                                    </accordion-heading>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Bailey Road Park'">              <h5 class="list-group-item-heading">Bailey Road Park DGC                       </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Brackett\'s Bluff'">             <h5 class="list-group-item-heading">Brackett's Bluff                           </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Bradford Park'">                 <h5 class="list-group-item-heading">Bradford Park                              </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Davidson College'">              <h5 class="list-group-item-heading">Davidson College                           </h5></label></div>
                                </accordion-group>
                                <accordion-group>
                                    <accordion-heading>
                                        <div><span class="btn btn-success btn-block">Far West (85-W) - Gastonia</span></div>
                                    </accordion-heading>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Bradley Center'">            <h5 class="list-group-item-heading">Bradley Center DGC                         </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Rankin Lake'">               <h5 class="list-group-item-heading">Rankin Lake DGC                            </h5></label></div>
                                </accordion-group>
                                <accordion-group>
                                    <accordion-heading>
                                        <div><span class="btn btn-success btn-block">Far South (77-S) - Rock Hill</span></div>
                                    </accordion-heading>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Boyd Hill'">               <h5 class="list-group-item-heading">Boyd Hill Rec Center                         </h5></label></div>
                                    <div class="list-group"><label class="list-group-item" data-ng-model="setlocation.coursefromset" btn-radio="'Winthrop TPC'">                 <h5 class="list-group-item-heading">Winthrop University TPC                      </h5></label></div>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                    <!-- Course-Location|---|Course-Location|---|Course-Location|---|Course-Location|---|Course-Location|---| -->



                    <!-- TEETIME TEETIME TEETIME TEETIME TEETIME TEETIME TEETIME TEETIME TEETIME -->
                    <div class="row form-group">
                        <h3>
                            <label class="label label-default" for="teetime">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tee-Off Time&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><br/>
                            <span class="badge">{{setteetime || 'schedule a meeting time...'}}</span>
                        </h3>
                        <div class="" id="teetime">
                                <div class="btn-group">
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'6:00am'">6:00am</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'6:15am'">6:15am</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'6:30am'">6:30am</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'6:45am'">6:45am</label><br/>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'7:00am'">7:00am</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'7:15am'">7:15am</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'7:30am'">7:30am</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'7:45am'">7:45am</label><br/>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'8:00am'">8:00am</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'8:15am'">8:15am</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'8:30am'">8:30am</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'8:45am'">8:45am</label><br/>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'9:00am'">9:00am</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'9:15am'">9:15am</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'9:30am'">9:30am</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'9:45am'">9:45am</label><br/>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'10:00am'">10:00am</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'10:15am'">10:15am</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'10:30am'">10:30am</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'10:45am'">10:45am</label><br/>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'11:00am'">11:00am</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'11:15am'">11:15am</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'11:30am'">11:30am</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'11:45am'">11:45am</label><br/>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'12:00pm'">12:00pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'12:15pm'">12:15pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'12:30pm'">12:30pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'12:45pm'">12:45pm</label><br/>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'1:00pm'">1:00pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'1:15pm'">1:15pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'1:30pm'">1:30pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'1:45pm'">1:45pm</label><br/>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'2:00pm'">2:00pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'2:15pm'">2:15pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'2:30pm'">2:30pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'2:45pm'">2:45pm</label><br/>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'3:00pm'">3:00pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'3:15pm'">3:15pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'3:30pm'">3:30pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'3:45pm'">3:45pm</label><br/>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'4:00pm'">4:00pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'4:15pm'">4:15pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'4:30pm'">4:30pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'4:45pm'">4:45pm</label><br/>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'5:00pm'">5:00pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'5:15pm'">5:15pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'5:30pm'">5:30pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'5:45pm'">5:45pm</label><br/>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'6:00pm'">6:00pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'6:15pm'">6:15pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'6:30pm'">6:30pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'6:45pm'">6:45pm</label><br/>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'7:00pm'">7:00pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'7:15pm'">7:15pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'7:30pm'">7:30pm</label>
                                    <label class="btn btn-warning btn-xs" data-ng-model="setteetime" btn-radio="'7:45pm'">7:45pm</label><br/>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'8:00pm'">8:00pm</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'8:30pm'">8:30pm</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'9:00pm'">9:00pm</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'9:30pm'">9:30pm</label><br/>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'10:00pm'">10:00pm</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'10:30pm'">10:30pm</label>
                                    <label class="btn btn-success btn-xs" data-ng-model="setteetime" btn-radio="'11:00pm'">11:00pm</label><br/>
                                    <br/>
                                </div>
                        </div>
                    </div>
                    <!-- end/TEETIME TEETIME TEETIME TEETIME TEETIME TEETIME TEETIME TEETIME TEETIME -->


                    <!-- SKILL Radios ~~~~SKILL Radios ~~~~SKILL Radios ~~~~SKILL Radios ~~~~SKILL Radios ~~~~   -->
                    <div class="row form-group">
                        <h3>
                            <label class="label label-default" for="PrSk">&nbsp;&nbsp;&nbsp;&nbsp;Preferred Skill&nbsp;&nbsp;&nbsp;&nbsp;</label><br/>
                            <span class="badge">{{setpreferredskill || 'default: Any Skill'}}</span>
                        </h3>

                        <div class="" id="PrSk">
                            <div class="list-group col-xs-6">
                                <label class="btn btn-sm btn-block btn-success" data-ng-model="setpreferredskill" btn-radio="'Any Skill'">Any Skill</label>
                                <label class="btn btn-sm btn-block btn-success clearfix" data-ng-model="setpreferredskill" btn-radio="'Beginner'">Beginner</label>
                                <label class="btn btn-sm btn-block btn-success" data-ng-model="setpreferredskill" btn-radio="'Intermediate'">Intermediate</label>
                                <label class="btn btn-sm btn-block btn-success" data-ng-model="setpreferredskill" btn-radio="'Pro'">Pro</label>
                            </div>
                        </div>
                    </div>
                    <!-- SKILL Radios ~~~~SKILL Radios ~~~~SKILL Radios ~~~~SKILL Radios ~~~~SKILL Radios ~~~~   -->
                    <!-- ATTITUDE Radios ~~~~ATTITUDE Radios ~~~~ATTITUDE Radios ~~~~ATTITUDE Radios ~~~~ATTITUDE Radios ~~~~   -->
                    <div class="row form-group">
                        <h3>
                            <label class="label label-default" for="PrAt">&nbsp;Preferred Attitude&nbsp;</label><br/>
                            <span class="badge">{{setpreferredattitude || 'default: Casual'}}</span>
                        </h3>

                        <div class="" id="PrAt">
                            <div class="list-group col-xs-6">
                                <label class="btn btn-sm btn-block btn-success" data-ng-model="setpreferredattitude" btn-radio="'Casual'">Casual</label>
                                <label class="btn btn-sm btn-block btn-success" data-ng-model="setpreferredattitude" btn-radio="'Competitive'">Competitive</label>
                                <label class="btn btn-sm btn-block btn-success" data-ng-model="setpreferredattitude" btn-radio="'$5 Wager Round'">$5 Wager Round</label>
                            </div>
                        </div>
                    </div>
                    <!-- ATTITUDE Radios ~~~~ATTITUDE Radios ~~~~ATTITUDE Radios ~~~~ATTITUDE Radios ~~~~ATTITUDE Radios ~~~~   -->



                    <!-- 2x text area - Round Headline -->
                    <div class="row form-group">
                        <h3>
                            <label class="label label-default" for="RHeadline">&nbsp;&nbsp;Round Headline&nbsp;&nbsp;</label><br/>
                            <span class="badge">{{roundheadline || 'create a headline...'}}</span>
                        </h3>

                        <div class="col-xs-10">
                            <input data-ng-model="roundheadline" class="form-control" id="RHeadline" name="comment">
                        </div>
                    </div>
                    <!-- 2x text area - Round Headline -->
                    <!-- 2x text area - Round Description -->
                    <div class="row form-group">
                        <h3>
                            <label class="label label-default" for="RDescription">Round Description</label><br/>
                            <span class="badge">{{rounddescription || 'create a description...'}}</span>
                        </h3>

                        <div class="col-xs-10">
                            <textarea data-ng-model="rounddescription" class="form-control" id="RDescription" name="comment"></textarea>
                        </div>
                    </div>
                    <!-- 2x text area - Round Description -->






                    <!--(ERROR) popup -->
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>

                    <!-- (SUBMIT BUTTON) -Review and Create Card   -->
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <hr>
                            Players: &nbsp;&nbsp;&nbsp;&nbsp;<span class="badge">{{setmaxplayers || 'default: 4 players'}}</span><br/>
                            Location:&nbsp;&nbsp;&nbsp;<span class="badge">{{setlocation.coursefromset || 'choose a course...'}}</span><br/>
                            Tee Time:&nbsp;&nbsp;<span class="badge">{{setteetime || 'schedule a meeting time...'}}</span><br/><br/>

                            Skill:   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge">{{setpreferredskill || 'default: Any Skill'}}</span><br/>
                            Attitude:&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge">{{setpreferredattitude || 'default: Casual'}}</span><br/><br/>

                            Headline:&nbsp;&nbsp;<span class="badge">{{roundheadline || 'create a headline...'}}</span><br/>
                            Comment: <span class="badge">{{rounddescription || 'create a description...'}}</span>
                            <hr>
                            <input type="submit" id="reviewroundcard" name="reviewroundcard" class="btn btn-warning btn-block" value="Review and Create Card">
                        </div>
                    </div>




                </div>
            </fieldset>
        </form>
    </div>
</section>