<section data-ng-controller="rcListCtrl" data-ng-init="find()">
    <div class="page-header">
        <h1>Roundcards</h1>
    </div>
    <div class="rc-group">

        <a class="rc-container" data-ng-repeat="roundcard in roundcards" data-ng-href="#!/roundcards/{{roundcard._id}}">
			<div class="rc-panel">
                <div class="rc-display-left">
                    <div>
                        <span class="rc-locationpane"
                              data-ng-bind="roundcard.setlocation"
                              data-ng-class="getLocClass(roundcard.setlocation)">
                              </span>
                        <i class="rc-locationpane-triangle"
                              data-ng-class="getLocTriClass(roundcard.setlocation)">
                              </i>

                    </div><br/>
                    <div class="rc-settingspane">
                        <span data-ng-bind="roundcard.setteetime"></span><br/>
                        <span data-ng-bind="roundcard.setmaxplayers"></span><br/>
                        <span data-ng-bind="roundcard.setpreferredskill"></span><br/>
                        <span data-ng-bind="roundcard.setpreferredattitude"></span>
                    </div><br/>
                </div>
                <div class="rc-display-right">

                <div class="rc-userpane">
                    <span class="rc-userpane-hostusername" data-ng-bind="roundcard.user.displayName"></span><i class="rc-userpane-icon-dk-16"></i>
                </div><br/>
                <div class="rc-headlinepane">
                    <span class="" data-ng-bind="roundcard.roundheadline">   </span>
                </div>
                <div class="rc-descriptionpane">
                    <span class="" data-ng-bind="roundcard.rounddescription"></span>
                </div><br/>

                </div>
            </div>
        </a>

    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!roundcards.$resolved || roundcards.length">
    	No Roundcards are posted right now, why don't you <a href="/#!/roundcards/create">create one</a>?
    </div>
</section>