<section data-ng-controller="rcViewCtrl" data-ng-init="findOne()">
	<div class="" data-ng-show="authentication.user._id == roundcard.user._id">
        <div class="rc-viewpage-header">
            <div class="view-rc-header"><label class="label-default" data-ng-bind="roundcard.roundheadline"></label></div>
        </div>
        <div class="rc-viewpage">
            <a class="btn btn-primary" href="/#!/roundcards/{{roundcard._id}}/edit">
                <i class="glyphicon glyphicon-edit">-Editt</i>
            </a>
            <a class="btn btn-primary" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash">-Delete</i>
            </a>
            <a class="view-rc-container">
                <div class="rc-panel">
                    <div class="rc-display-left">
                        <div>
                            <span class="rc-locationpane" data-ng-bind="roundcard.setlocation" ng-class="getLocClass(roundcard.setlocation)"></span>
                             <i class="rc-locationpane-triangle"
                                data-ng-class="getLocTriClass(roundcard.setlocation)">
                                 </i>
                        </div><br/>
                        <span data-ng-bind="roundcard.setteetime"></span><br/>
                        <span data-ng-bind="roundcard.setmaxplayers"></span><br/>
                        <span data-ng-bind="roundcard.setpreferredskill"></span><br/>
                        <span data-ng-bind="roundcard.setpreferredattitude"></span>

                    </div>
                    <div class="rc-display-right">

                        <div class="rc-userpane">
                            <span class="rc-userpane-hostusername" data-ng-bind="roundcard.user.displayName"></span>
                             <i class="rc-userpane-icon-dk-16"></i>
                        </div><br/>
                        <div class="rc-headlinepane">
                            <span class="" data-ng-bind="roundcard.roundheadline">   </span>
                        </div>
                        <div class="rc-descriptionpane">
                            <span class="" data-ng-bind="roundcard.rounddescription"></span>
                        </div><br/>

                    </div>
                </div>
            </a><!-- end rc-container -->
            <div class="view-chat-panel">
                <div class="chat-viewpane">

                    <section class="chat-viewpane-player1">
                        <div class="rc-userpane">
                            <span class="rc-userpane-hostusername" data-ng-bind="roundcard.user.displayName"></span>
                                <i class="rc-userpane-icon-dk-16"></i>
                            <span class="p1message"></span>
                        </div><br/>
                        <label class="label-danger">Player 1:</label>

                    </section>

                    <section class="chat-viewpane-player2">
                        <div class="rc-userpane">
                            <span class="rc-userpane-hostusername" data-ng-bind="roundcard.joineduser1.displayName"></span>
                            <i class="rc-userpane-icon-dk-16"></i>
                            <span class="p1message"></span>
                        </div><br/>
                        <label class="label-info">Player 2:</label>

                    </section>

                    <section class="chat-viewpane-player3">
                        <div class="rc-userpane">
                            <span class="rc-userpane-hostusername" data-ng-bind="roundcard.joineduser2.displayName"></span>
                            <i class="rc-userpane-icon-dk-16"></i>
                            <span class="p1message"></span>
                        </div><br/>
                        <label class="label-success">Player 3:</label>

                    </section>

                    <section class="chat-viewpane-player4">
                        <div class="rc-userpane">
                            <span class="rc-userpane-hostusername" data-ng-bind="roundcard.joineduser3.displayName"></span>
                            <i class="rc-userpane-icon-dk-16"></i>
                            <span class="p1message"></span>
                        </div><br/>
                        <label class="label-warning">Player 4:</label>

                    </section>

                </div>
                <div class="chat-inputpane">
                    <input type="text" placeholder="send message...">
                </div>

            </div>





        </div><!-- end viewpage -->

    </div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="roundcard.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="roundcard.user.displayName"></span>
		</em>
	</small>
</section>