.tpdiv {
    display: inline-block;
    height: 290px;
}

.angular-google-map-container {
    height: 320px;
    width: 260px;
}
.label.label-default{
    padding: 0.2em 2em 0.3em;;
}
.list-group {
    padding: 2px 5px 0 5px;

    margin-top: 1px;
    margin-bottom: 1px;
}
.list-group-item {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px 5px;
    position: relative;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-image: linear-gradient(to bottom, #22811f 0%, #a38f27 100%);
    border-color: #000000;
    text-shadow: 0 -1px 0 #896617;


}

.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px;
    color: #FFFFFF;
    font-weight: bold;
}

.btn-xs{
    padding: 2px 2px 2px 2px;
    margin-bottom: 4px;
    width:56px;
}


.btn:active, .btn.active, .btn.hover {
    background-color: #FFFFFF;
    border-color: #3e8f3e;
    color: #000000;
    font-weight: bold;
}


.panel-body {
    padding: 2px;
}
.panel-heading {
    padding: 0 0;
}
