
.rc-group {
    padding-left: 0;
    margin-bottom: 10px;

}

.rc-container {
    text-align: center;
    position: relative;
    display: block;
    padding: 1px 1px;
    margin: 0 -10px 0 -10px;
    background-color: #e4e4e4;
    border: 1px solid #ddd;
}
.rc-container:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.rc-container:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.rc-panel {
    margin: 0 auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 310px;
    height: 75px;
    border: 3px #f0ac51 outset;
    background-color: #DEDEDE;
    color: #a37d00;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
}
.rc-panel:hover,
.rc-panel:focus {
    color: #554e1f;
    text-decoration: none;
    background-color: #f5f5f5;
}

.rc-display-left {
    width: 150px;
    float: left;
    margin: 0 auto;
    text-align: left;
}
.rc-display-right {
    height: 62px;
    width: 150px;
    margin: 0 auto;
    float: right;
    text-align: left;
}



.rc-settingspane {
    height:35px;
    padding-top:2px;
    border-right: 1px solid black;

}
.rc-userpane {
    float: right;
    width: 140px;
    background-color: #d3a900;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    font-weight: bolder;
}
.rc-userpane-hostusername {
    float: left;
    background-color: #d3a900;
    padding:2px 30px 1px 3px;
    font-weight: bolder;
    color: #FFFFFF;
}
.rc-userpane-icon-dk-16 {
    background-image: url(../img/favicon16.ico);
    position: relative;
    height:15px;
    width: 16px;
    float: right;
}

.rc-headlinepane {
    margin: 5px 0 0 2px;
    height: 14px;
    width: 140px;
    border-bottom: 1px solid #d3a900;

    white-space:  normal;
    overflow: hidden;
    text-overflow: clip;



}
.rc-descriptionpane {
    height: 37px;
    width: 140px;
    font-weight: normal;
    margin-left: 2px;

    word-break: normal;
    word-wrap: break-word;
    white-space:  normal;
    overflow: hidden;
    text-overflow: clip;

}


.rc-locationpane {
    color: #504dc6;
    float: right;
    height: 16px;
    width: 150px;
    background-color: #FFFFFF;
    border-bottom: 2px solid black;
    border-left:  2px solid black;
    font-weight: bolder;
    white-space:  normal;
    overflow: hidden;
    text-overflow: clip;
    margin: 0 0 0 0;
    padding-top:1px;
    padding-left:1px;
}

.rc-locationpane-triangle {
    position: relative;
    float: right;
    margin-right: -163px;
    width: 0;
    height: 0;
    border-top:    8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left:   15px solid #c65d5a;

}

.rc-loc-eastway-s       {     color: #504dc6;    background-color: #FFFFFF;     }
.rc-loc-eastway-l       {     color: #504dc6;    background-color: #FFFFFF;     }
.rc-loc-kilborne-s      {     color: #f0ffb9;    background-color: #404a00;     }
.rc-loc-kilborne-l      {     color: #f0ffb9;    background-color: #404a00;     }
.rc-loc-reedy-s         {     color: #88881e;    background-color: #000000;     }
.rc-loc-reedy-l         {     color: #88881e;    background-color: #000000;     }
.rc-loc-sugaw           {     color: #000000;    background-color: #00ff09;     }
.rc-loc-horn-s          {     color: #2d2d2d;    background-color: #FFD800;     }
.rc-loc-horn-l          {     color: #2d2d2d;    background-color: #FFD800;     }
.rc-loc-nevin-s         {     color: #ff00ad;    background-color: #472244;     }
.rc-loc-nevin-l         {     color: #ff00ad;    background-color: #472244;     }
.rc-loc-goatisland      {     color: #e1e1e1;    background-color: #476745;     }
.rc-loc-rlsmith         {     color: #ffffff;    background-color: #71cfff;     }
.rc-loc-renn-grey       {     color: #ffffff;    background-color: #575070;     }
.rc-loc-renn-gold       {     color: #ffef6b;    background-color: #575070;     }
.rc-loc-elon-eager      {     color: #ffffff;    background-color: #703f31;     }
.rc-loc-elon-angry      {     color: #ffffff;    background-color: #703f31;     }
.rc-loc-winget          {     color: #00cbb0;    background-color: #202c2f;     }
.rc-loc-crooked         {     color: #462846;    background-color: #b192ba;     }
.rc-loc-drycreek        {     color: #283c3c;    background-color: #749a9d;     }
.rc-loc-idlewild        {     color: #282d3d;    background-color: #aeaeae;     }
.rc-loc-squirrel        {     color: #be7a00;    background-color: #704145;     }
.rc-loc-bailey          {     color: #000000;    background-color: #ecc4b4;     }
.rc-loc-brackett        {     color: #ece25b;    background-color: #38351a;     }
.rc-loc-bradford        {     color: #000000;    background-color: #cbf0b5;     }
.rc-loc-davidson        {     color: #b4b4b4;    background-color: #F22D5B;     }
.rc-loc-bradley         {     color: #ecc4b4;    background-color: #000000;     }
.rc-loc-rankin          {     color: #c3f8ff;    background-color: #726dff;     }
.rc-loc-boyd            {     color: #ffffff;    background-color: #ffa800;     }
.rc-loc-winthrop        {     color: #297A3B;    background-color: #2F3C6A;     }

.loctri-eastway-s       {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #504dc6;   }
.loctri-eastway-l       {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #504dc6;   }
.loctri-kilborne        {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #f0ffb9;   }
.loctri-kilborne        {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #f0ffb9;   }
.loctri-reedy-s         {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #88881e;   }
.loctri-reedy-l         {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #88881e;   }
.loctri-sugaw           {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #000000;   }
.loctri-horn-s          {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #2d2d2d;   }
.loctri-horn-l          {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #2d2d2d;   }
.loctri-nevin-s         {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #ff00ad;   }
.loctri-nevin-l         {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #ff00ad;   }
.loctri-goatisland      {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #e1e1e1;   }
.loctri-rlsmith         {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #ffffff;   }
.loctri-renn-grey       {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #ffffff;   }
.loctri-renn-gold       {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #ffef6b;   }
.loctri-elon-eager      {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #ffffff;   }
.loctri-elon-angry      {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #ffffff;   }
.loctri-winget          {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #00cbb0;   }
.loctri-crooked         {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #462846;   }
.loctri-drycreek        {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #283c3c;   }
.loctri-idlewild        {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #282d3d;   }
.loctri-squirrel        {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #be7a00;   }
.loctri-bailey          {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #000000;   }
.loctri-brackett        {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #ece25b;   }
.loctri-bradford        {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #000000;   }
.loctri-davidson        {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #b4b4b4;   }
.loctri-bradley         {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #ecc4b4;   }
.loctri-rankin          {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #c3f8ff;   }
.loctri-boyd            {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #ffffff;   }
.loctri-winthrop        {     position: relative; float: right; margin-right: -163px; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left:   15px solid #297A3B;   }

