.rc-viewpage-header {
    border-radius: 4px;
    width: 320px;
    margin-left:-15px;
    height: 50px;
    border: 3px #f0ac51 ridge;
    background-color: #ffa800;

}
.rc-viewpage {
    border-radius: 4px;
    width: 320px;
    margin-left:-15px;
    height: 351px;
    border: 3px #f0ac51 ridge;
    background-color: #ffa800;

}

.view-rc-header > label.label-default {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 4px;
    height: 35px;
    margin: 5px auto 5px;
    -webkit-border-radius:  40px;
    -moz-border-radius:     40px;
    border-radius:          40px;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    color: #543b00;
    word-break: normal;
    word-wrap: break-word;
    white-space:  normal;
    overflow: hidden;
    text-overflow: clip;


}
.rc-userpane {
    float: right;
    height:16px;
    width: 140px;
    background-color: #d3a900;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: 1em;
    margin: 0 auto;
    text-decoration: none;
}
.rc-userpane-hostusername {
    float: left;
    background-color: #d3a900;
    padding:2px 30px 1px 3px;
    font-weight: bolder;
    color: #FFFFFF;
}
.rc-userpane-icon-dk-16 {
    background-image: url(../img/favicon16.ico);
    position: relative;
    height:15px;
    width: 16px;
    float: right;
}
.view-rc-container {
    text-align: center;
    position: relative;
    display: block;
    padding: 1px 1px;
    margin: 0 auto;
    background-color: #034101;
    border: 1px solid #ddd;
}
.view-chat-panel {
    border-radius: 4px;
    margin: 0 auto;
    width: 312px;
    height: 231px;
    border: 3px #f0ac51 ridge;
    background-color: #fff6dc;
}
.chat-viewpane {
    height: 194px;
    width: 306px;
    padding: 2px 3px 2px 3px;
    background-color: #746d4b;
}
.chat-viewpane > section {
    width: 300px;
    height: 46px;
    margin-bottom: 2px;

}

.chat-viewpane-player1{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 3px #f00400 solid;
    color: #ffffff;

    background-color: #ff8077;
}
.chat-viewpane-player2{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 3px #0002d8 solid;
    color: #ffffff;

    background-color: #80a5ff;

}
.chat-viewpane-player3{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 3px #006f2f solid;
    color: #ffffff;

    background-color: #5faf54;
}
.chat-viewpane-player4{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 3px #f06b00 solid;
    color: #ffffff;

    background-color: #ffd165;
}

.chat-inputpane input {
    width: 306px;
    height: 32px;
    background-color: #ffffff;
}
